.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__user {
  display: flex;
  margin: 0 116px 0 0;
}

.sidebar__avatar {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

.sidebar__username {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  padding-top: 16px;
  font-family: "Cabinet Grotesk", sans-serif;
}

.sidebar__edit-button {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  letter-spacing: 0%;
  background-color: transparent;
  border: none;
}

.sidebar__signout-button {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24.8px;
  letter-spacing: 0%;
  background-color: transparent;
  border: none;
}
