.profile {
  display: flex;
  justify-content: space-between;
  padding-top: 19px;
}

/* .profile {
  display: flex;
  gap: 100px;
} */

.profile__sidebar {
  display: flex;
}

.profile__clothing-items {
}
