.weather-card {
  font-family: Cabinet Grotesk;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;

  position: relative;
  display: flex;
  height: 80px;
  border-radius: 12px;
  overflow: hidden;
  border-radius: 19px;
}

.weather-card__temp {
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  position: absolute;
  top: 20px;
  left: 16px;
}

.weather-card__image {
  object-fit: cover;
  object-position: right top;
  width: 100%;
}
