.header {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__date-and-location {
  margin: 0;
}

.header__logo {
  margin-right: 24px;
}

.header__add-clothes-btn {
  margin: 0 20px;
  border: none;
  cursor: pointer;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__username {
  margin: 0;
}

.header__profile-container {
  display: flex;
  align-items: center; /* Vertically align items in the container */
  justify-content: flex-end; /* Push items to the right of the container */
  /* gap: 16px; Optional: add some space between the elements */
  margin-left: auto;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__link-signup {
  margin-left: 20px;
  border: none;
  background-color: transparent;
}

.header__link-login {
  margin-left: 20px;
  border: none;
  background-color: transparent;
}

.header__avatar--placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
